body{
    /* background-color: #160801;
    background: linear-gradient(145deg, #160801, #23312E); */
    font-family: 'Poppins', sans-serif;
    /* background-color: #eacf5a; */
    /* background-color: #39160b; */

    /* background-color: #63321d; */

    /* background-color: #8d4f30; */

    /* background-color: #b86c43; */
    color: #000;

}

:root {
    --primary: #eacf5a;
  }

/* [role=button]{
    --background-color: var(--primary);
} */

[data-theme=dark]{
    --primary: #fdd13a !important;
    --primary-hover: #8f8736 !important;
    --primary-focus: rgba(234, 207, 90, 0.25) !important;
    --primary-inverse: #596234 !important;
    --contrast: #FFE48A !important;
    /* --background-color: #3e5033 !important; */
}

[data-theme=light]{
    --primary: #3e5033 !important;
    --primary-hover: #596234 !important;
    --primary-focus: rgba(62, 98, 52, 0.25) !important;
    --primary-inverse: #FFF ;
    --contrast: #B39122 !important;

}